@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFDFC;
}
.pointer{
    cursor: pointer;
}

.background-color {
    background: linear-gradient(0deg, rgba(59, 129, 61, 0.1) 0%, rgba(194, 235, 196, 0.1) 100%);
}

.overflow-css {
    overflow-x: hidden;
    overflow-y: scroll;
}


.hidden {
    display: none;
}
.ma{
    margin: 0 auto 0 auto;
}